.nodebutton {
    background-color: #33FF00;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid black;
  padding: 10px;
  text-decoration: none;
  background-color: #ffbb00;
  margin: 15px;
  color: black;
}

.nodebutton:hover {
   background: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid black;
  padding: 10px;
  text-decoration: none;
  margin: 15px;
  color: black;
}

.container {
  margin: 15;
}
.body {
  background-color: #ffbb00;
}