body {
  padding: 0px;
  margin: 0px;
}

.nodebutton {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 2px solid rgb(51, 51, 51);
  padding: 10px;
  text-decoration: none;
  background-color: #b5ffbc;
  margin: 15px;
  color: rgb(51, 51, 51);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.nodebutton:hover {
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(51, 51, 51);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 2px solid rgb(51, 51, 51);
  padding: 10px;
  text-decoration: none;
  margin: 15px;
  color: #b5ffbc;
  background-color: rgb(51, 51, 51);
}

.container {
  padding: 10px;
  margin: none;

}


.text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

.navbar {
  margin-top: 0px;
  padding: 20px; 
  text-align: center;

}

.textbox {
  border: solid;
  border-width: 2px;
  border-color: rgb(51, 51, 51);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 15px;
  margin: none;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: rgb(51, 51, 51);
  font-size: 32px;
  text-align: center;
}

.center {
  text-align: center;
}

table {
  border: 2px, solid, rgb(51, 51, 51);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: rgb(51, 51, 51);
  padding: 15px;
  border-collapse: collapse;
}

table,
tr,
td,
th {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: rgb(51, 51, 51);
  padding: 25px;
  border: solid;
  border-color: rgb(51, 51, 51);
   -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  width: 1200px;
}
th {
  font-size: 28px;
}

.green {
  background-color: #b5ffbc;
  margin: none;
  width: 100%;
  min-height: 750px;
}

.grey {
    background-color: rgb(51, 51, 51);
    margin: none;
    width: 100%;
    min-height: 750px;
}


.grey .title {
  color: #b5ffbc;
}

.grey .textbox {
   color: #b5ffbc;
   border-color: #b5ffbc;
}

.grey .nodetable {
    color: #b5ffbc;
   border-color: #b5ffbc;
}
.anchor {
   -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 2px solid rgb(51, 51, 51);
  padding: 10px;
  text-decoration: none;
  background-color: #b5ffbc;
  margin: 15px;
  color: rgb(51, 51, 51);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
.anchor:hover {
    background-color: rgb(51, 51, 51);
  border: 1px solid rgb(51, 51, 51);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 2px solid rgb(51, 51, 51);
  padding: 10px;
  text-decoration: none;
  margin: 15px;
  color: #b5ffbc;
  background-color: rgb(51, 51, 51);
}